from pathlib import Path

from pyrpl import Pyrpl

bitstream = Path(__file__).resolve().parents[1] / "pyrpl" / "fpga" / "red_pitaya.bin"

p = Pyrpl(
    config="<CONFIG_NAME>",
    hostname="<IP_ADDRESS_TO_RED_PITAYA>",
    filename=str(bitstream),
    loglevel="info",
    gui=False,
    reloadfpga=True,
    reloadserver=True,
)
